<main class="main">
  <div class="content">
    <div class="comments">
      @for (comment of comments; track comment.id) {
        <div class="comment">
          <div class="photo">

          </div>
          <div class="comment-content">
            <div class="username">{{ comment.user }}</div>
            <div class="text">{{ comment.text }}</div>
          </div>

        </div>
      }
      <form>
        <div class="ta-user-tag">
          <textarea id="comment-editor" (keyup)="keyup($event)"></textarea>
          <div class="users-list" *ngIf="is_show_dialog">
            @for (user of users; track user.userID) {
              <div class="user-item">{{ user.name }}</div>
            }
          </div>
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</main>



<router-outlet />
