<main class="main">
  <div class="content">
    <div class="comments">
      @for (comment of comments; track comment.id) {
        <div class="comment">
          <div class="photo">

          </div>
          <div class="comment-content">
            <div class="username">{{ comment.user }}</div>
            <div class="text">{{ comment.text }}</div>
          </div>

        </div>
      }
      <form>
        <!--<app-ta-user-tag [users]="users"></app-ta-user-tag>-->
        <div class="ta-user-tag">
          <div id="comment-editor" contenteditable="true" appUserToggle [users]="users"></div>
        </div>
        <input type="submit">
      </form>
    </div>
  </div>
</main>



<router-outlet />
